/.DS_Store
/links.txt
/_mysql_/csv/common_player_info_v3.csv
/_mongodb_/_mongodb_data/
/_mongodb_/flask_env/
/_mongodb_/docker-compose.yml

/_mysql_/x.md
/_mysql_/_mysql_env_
/_mysql_/_sql_data
/_mysql_/docker-compose.yml

/_data_chron_/nightly_ingest_env/
/_data_chron_/stats/

*.vscode
*.env
*.Dockefile
_data_chron_/Dockerfile
_data_chron_/crontab
app_env/
_data_chron_/__pycache__/
_mongodb_/tests/__pycache__/
